html, body, .container {
	height: 100%;
}

body {
	padding-top: 50px;
	background-image: url('pokedex-background.png');
	background-repeat: repeat;
	background-attachment: fixed;
	background-origin: content-box;
	background-size: 50%;
}

.navbar {
	background-color: rgb(44, 163, 26);
	border-bottom: 1px solid rgb(30, 117, 16);
}

.navbar a, .navbar .icon-bar {
	color: rgba(255,255,255,0.85) !important;
}

.navbar li:hover a {
	color: rgba(255,255,255,0.95) !important;
}

.main-page-container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
}

.pokemon-preview {
	cursor: pointer;
	margin: 10px auto;
	width: 70%;
	border-radius: 5px;
}

.pokemon-preview img {
	display: block;
	margin: auto;
	width: 128px;
}

.pokemon-preview span {
	display: block;
	width: 100%;
	text-align: center;
	text-transform: capitalize;
}

.pokemon-preview:hover {
	color: rgba(30, 117, 16, 1);
	background-color: rgba(30, 117, 16, 0.1);
}

.main-info {
	display: flex;
}

.main-info .img {
	display: flex;
	justify-content: flex-end;
	flex-grow: 1;
}

.main-info .img img {
	width: 128px;
	height: 128px;
}

.main-info .info {
	display: flex;
	justify-content: center;
	flex-grow: 1;
	flex-direction: column;
}

.progress {
	margin-bottom: 0;
}

.table td {
	border: none !important;
}

.stats, .moves {
	margin: auto;
	width: 70%;
}

.ability-label {
	margin-left: 2px;
}

.moves > div {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}

.moves .move {
	margin: 1px;
}

.map {
	width: 100%;
	height: 100%;
}

.btn-loader {
	width: 90%;
	margin: 20px auto;
}

.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid rgb(30, 117, 16); /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    margin: 10px auto;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}