<div>
	<h3 class="text-center">Pokemones</h3>	

	<hr>

	<!-- Grid showing all the pokemons -->
	<div class="row">
		<pokemon-preview ng-repeat="pokemon in pokedex.pokemons"></pokemon-preview>
	</div>

	<div class="loader" ng-show="pokedex.loading"></div>
	
	<button class="btn btn-default btn-block btn-loader" ng-click="pokedex.loadPokemons()" ng-show="pokedex.url">
		Ver más pokemones
	</button>

	<br>

	<!-- Modal for showing the pokemon details -->
	<div class="modal fade" id="pokemonModal">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
	        		<h4 class="modal-title text-capitalize">{{ pokedex.pokemon.name }}</h4>
				</div>
				<div class="modal-body">
					<div class="loader" ng-hide="pokedex.pokemon"></div>
			    	<pokemon ng-show="pokedex.pokemon"></pokemon>
				</div>
			</div>
		</div>
	</div> <!-- End Modal -->

</div>
